{% import 'partial/macro.twig' as macro %}

{% set tabs = options.tabs | default('js') %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Another web application created from a spreadsheet with Appizy">
    <meta name="author" content="Appizy">
    <title>Appizy</title>
    <style>
        {% include 'partial/default-style.css' %}

        {{ style }}

        {% if tabs == 'js' %}
        {% include 'partial/dynamic-tabs.css' %}
        {% endif %}
    </style>
</head>
<body>
<div id="appizy">
    <form>
        {% set sheets = spreadSheet.getVisibleSheets() %}
        {% if tabs != 'none' %}
            <div>
                <ul class="tabs-list">
                    {% for sheet in sheets %}
                        <li class="{% if loop.first %}active{% endif %}">
                            <a href="#sheet{{ loop.index }}">{{ sheet.getName() | raw }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="tabs">
            {% for sheet in sheets %}
                <div id="sheet{{ loop.index }}" class="tab-content {% if loop.first %}active{% endif %}">
                    {% include 'partial/tab/shown.twig' with {'sheet': sheet} %}
                </div>
            {% endfor %}
        </div>
    </form>
</div>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

{% if options.jqueryui %}
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
{% endif %}

{% if options.jqueryui %}
    <script>
        (function ($) {
            $("#appizy").tabs().tooltip();
        })(jQuery);
    </script>
{% endif %}

{% if script %}
    <!-- Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/1.5.3/numeral.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jstat/1.5.3/jstat.min.js"></script>
    <script>
        jStat.jStat = jStat;
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/formulajs/1.0.8/formula.js"></script>
    <!-- Spreadsheet calculations -->
    <script type="application/javascript">
        {% for sheet in spreadSheet.getHiddenSheets() %}
            {% include 'partial/tab/hidden.js.twig' with {'tab': sheet} %}
        {% endfor %}

        (function (Formula) {
            {{ script | raw }}
        })(formulajs);
    </script>
{% endif %}

{% if tabs == 'js' %}
    {% include 'partial/dynamic-tabs.twig' %}
{% endif %}
</body>
</html>
