{% import 'partial/macro.twig' as macro %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Another web application created from a spreadsheet with Appizy">
    <meta name="author" content="Appizy">
    <title>Appizy</title>
    <style>
        {% include 'partial/default-style.css' %}
        {{ style }}
    </style>
</head>
<body>
<div id="appizy">
    <form>
        <ul>
            {% for sheet in spreadSheet.getSheets() %}
                <li>
                    <a href="#sheet{{ loop.index }}">{{ sheet.getName() }}</a>
                </li>
            {% endfor %}
        </ul>
        {% for sheet in spreadSheet.getSheets() %}
            <div id="sheet{{ loop.index }}">
                <table>
                    {% for row in sheet.getRows() %}
                        <tr class="{{ row.getName() }} {{ row.getStyles()|join(' ') }}"{{ hiddenRowStyle }}>
                            {% for cell in row.getCells() %}
                                {% set col_span = '' %}
                                {% set row_span = '' %}
                                {% if (cell.getColSpan() > 1) %}
                                    {% set col_span = ' colspan="' ~ cell.getColSpan() ~ '"' %}
                                {% endif %}

                                {% if (cell.getRowSpan() > 1) %}
                                    {% set row_span = ' rowspan="' ~ cell.getRowSpan() ~ '"' %}
                                {% endif %}
                                {% set cellType = cell.getType() %}
                                {% set cellStyle = cell.getStyles()|join(' ') %}
                                <td class="{{ cell.getName() }} {{ cellType }} {{ cellStyle }}" {{ col_span | raw }}{{ row_span | raw }}>
                                    {% if cellType == 'in' %}
                                        {% set values = cell.getValueList() %}
                                        {% if values is empty %}
                                            <input id="{{ cell.getName() }}" name="{{ cell.getName() }}"
                                                   data-value-type="{{ cell.getValueType() }}"
                                                   value="{{ cell.getValue() }}"
                                                    {{ macro.dataFormat(cell, spreadSheet) }}
                                            >
                                        {% else %}
                                            <select id="{{ cell.getName() }}" name="{{ cell.getName() }}">
                                                {% for value in values %}
                                                    <option value="{{ value }}">{{ value }}</option>
                                                {% endfor %}
                                            </select>
                                        {% endif %}
                                    {% elseif cellType == 'out' %}
                                        <input disabled="disabled" name="{{ cell.getName() }}"
                                               value="{{ cell.getValueAttr() }}"
                                               data-value-type="{{ cell.getValueType() }}"
                                                {{ macro.dataFormat(cell, spreadSheet) }}
                                        >
                                    {% else %}
                                        {{ cell.getDisplayedValue() | raw }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    </form>
</div>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

{% if options.jqueryui %}
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
{% endif %}

{% if options.jqueryui %}
    <script>
        (function ($) {
            $("#appizy").tabs().tooltip();
        })(jQuery);
    </script>
{% endif %}

{% if script %}
    <!-- Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jstat/1.5.3/jstat.min.js"></script>
    <script>
        jStat.jStat = jStat;
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/formulajs/1.0.8/formula.js"></script>
    <!-- Spreadsheet calculations -->
    <script type="application/javascript">
        (function(Formula) {
            {{ script | raw }}
        })(formulajs);
    </script>
{% endif %}
</body>
</html>
