<html>
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap library from MaxCDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
        /*body {*/
            /*padding-top: 50px;*/
            /*position: relative;*/
        /*}*/

        nav.navbar {
            background: #573d7e;
        }

        nav.navbar li a,
        nav a.navbar-brand {
            color: #fff;
        }

        nav.navbar li a {
            color: #573d7e;
        }

        nav.navbar li a:hover {
            color: #573d7e;
        }

        .navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
            color: #fff;
        }

        .navbar-default .navbar-nav > li > a:hover {
            background-color: #e7e7e7;
        }

        .navbar-default .navbar-brand {
            color: #FF9;
        }

        .navbar-default .navbar-brand:hover {
            color: #699;
        }

        .jumbotron {
            margin-top: 80px;
        }

        ul.affix {
            position: fixed;
            top: 60px;
            left: 62px;
            width: 360px;
        }

        ul.affix-top {
            position: static;
        }

        ul.affix-bottom {
            position: absolute;
        }

        /* First level of nav */
        .sidenav {
            margin-top: 20px;
            margin-bottom: 30px;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: #f7f5fa;
            border-radius: 5px;
        }

        /* All levels of nav */
        .sidebar .nav > li > a {
            display: block;
            color: #716b7a;
            padding: 5px 20px;
        }

        .sidebar .nav > li > a:hover,
        .sidebar .nav > li > a:focus {
            text-decoration: none;
            background-color: #e5e3e9;
        }

        .sidebar .nav > .active > a,
        .sidebar .nav > .active:hover > a,
        .sidebar .nav > .active:focus > a {
            font-weight: bold;
            color: #563d7c;
            background-color: transparent;
        }

        /* Nav: second level */
        .sidebar .nav .nav {
            display: none;
        }

        .sidebar .nav > li.active .nav {
            display: block;
        }

        .sidebar .nav .nav {
            margin-bottom: 8px;
        }

        .sidebar .nav .nav > li > a {
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 30px;
            font-size: 90%;
        }

        #content {
            margin-top: 20px;
            position: relative;
            z-index: -10px;
        }

    </style>
</head>
<body >
        {#data-spy="scroll" data-target="#affix-nav">#}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Project name</a>
        </div>
    </div>
</div>

{% if options.component == 'scroll-spy' %}

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <nav id="affix-nav" class="sidebar">
                    <ul class="nav sidenav" data-spy="affix" data-offset-top="10">
                        {% for sheet in spreadSheet.getSheets() %}
                            {% for row in sheet.getRows() %}
                                {% for cell in row.getCells() %}
                                    {% if loop.first %}
                                        <li><a href="#{{ row.getName() }}">{{ cell.getValue() | striptags }}</a></li>
                                    {% else %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            <div class="col-sm-9">
                {% for sheet in spreadSheet.getSheets() %}
                    <h2>{{ sheet.getName() }}</h2>
                    {% for row in sheet.getRows() %}
                        <article id="{{ row.getName() }}">
                            {% for cell in row.getCells() %}
                                {% if  loop.first %}
                                    <h3>{{ cell.getValue() | striptags }}</h3>

                                {% else %}
                                    {{ cell.getValue() | raw }}
                                {% endif %}
                            {% endfor %}
                        </article>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
<!-- jQuery and Bootstrap libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
    (function ($) {
//        var navOffset = 70;
//        $('body').scrollspy({target: '#top-nav', offset: navOffset});
//        $('.navbar a').click(function () {
//            var scrollPos = $('body').find($(this).attr('href')).offset().top - navOffset;
//
//            $('body, html').animate({scrollTop: scrollPos}, 500);
//        });
    })(jQuery);
</script>
</body>
</html>
